doctype html
html(lang='en')
  head
    title Payment Confirmation | Revels 19'
    link(rel='stylesheet', href='/main.css')
  body.center
    div.title.center Payment Successful
    div
      div.title-small Amount Paid
      div=amount_paid
    div
      div.title-small Email
      div=email
    div
      div.title-small Paytm ID
      div=paytmid
    div
      div.title-small Order ID
      div=order_id
