doctype html
html(lang='en')
  head
    title Payment Confirmation | Revels 19'
    link(rel='stylesheet', href='/main.css')
  body.center
    div.title.center Payment Pending
    div.center Your payment is pending.
    div.center You will receive an email once the transaction is complete.
